/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


ul.nav, .jumbotron {
	font-family: 'Arvo', perpetua, serif;
}

ul.nav {
	font-size: 13px;
}

footer {
	background-color: #e74c3c;
	padding-top: 150px;
	padding-bottom: 30px;
	position: relative;
}

#get-involved {
	background-color: #f5f5f5;
}

#get-involved p {
	font-weight: 300;
	font-size: 21px;
	margin: 0;
}

#back-to-top a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #333;
}
.jumbotron {
	text-align: center;
	background-image: url('../images/hero-image.jpg');
	color: white;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 38px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 100px;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.homepage h2, .homepage h3 {
	font-family: 'Arvo, perpetua, serif';
	color: #e74c3c;
	text-transform: uppercase;

}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-weight: 300;
	font-size: 24px;
	margin: 0 170px;
}

.homepage a {
	color: #e74c3c; 
}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: 0.5;
}
.homepage hr {
	border-top: 1px solid#e74c3c;
	width: 160px;
	margin-top: 15px;
}


.modal-content iframe {
	margin-top: 15px;
	margin-bottom: 10px;
}

.modal-content button.close {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: white;
	font-size: 28px;
	width: 30px;
	opacity: 1;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
}

.modal-dialog {
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: -173px;
}


/* Responsive Styling */

@media (max-width: 1199px) {
	
	.jumbotron h1 {
	font-size: 56px;
	margin-bottom: 30px;
	}
}

@media (max-width: 991px) {
	
	.jumbotron h1 {
	font-size: 44px;
	}

	.jumbotron p {
		padding: 0 10px;
		font-size: 21px;
	}

	.homepage p {
		margin: 0;
	}

	.btn-lg {
		font-size: 30px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#get-involved p {
		margin: 0 90px;
	}
}

@media (max-width: 767px) {
	
	.jumbotron h1 {
	font-size: 24px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	footer img {
		width: 80%;
	}
}

@media (max-width: 479px) {
	
	.jumbotron h1 {
	font-size: 24px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
		margin: 0;
	}

	.homepage h2 {
		font-size: 26px
	}

	#get-involved h2 {
		font-size: 23px;
	}
	.col-md-4 h3 {
		font-size: 20px
	}
	#get-involved p {
		font-size: 18px;
		margin: 0;
	}

	footer img {
		width: 80%;
	}
}